!
! CONFIGURATION FILE FOR {{ item.name }}
!
! VARIABLES
!
hostname {{ item.name }}
!
crypto key param rsa label {{ item.name }} modulus 2048
!
vrf context management
  ip route 0.0.0.0/0 {{ item.default_gateway }}
!
interface mgmt0
  description management
  ip address {{ item.fixed_address }} {{ item.subnet }}
  no ip redirects
  no ipv6 redirects
  vrf member management

! INCLUDE THE REST OF YOUR CONFIGURATION HERE
